<!DOCTYPE html>
<html lang="en">
<head>
    <!--引入head-common-->
    <%= require("html-loader!./layout/head-common.html")%>
    <title>ReadEnjoy | <%= htmlWebpackPlugin.options.title%></title>
</head>
<body class="ReadEnjoy-bookDetail">
<!--引入导航栏-->
<%= require("html-loader!./layout/navigation.html")%>
<div id="index-content">
<!-- 书籍内容区 开始 -->
<div class="container" style="background-color: #FFFFFF;">
    <!--书籍详情信息-->
     <div id="bookDetail-content">

     </div>

    <!-- 常用标签 链接至分类 搜索结果页 -->
    <div class="authro-intro">
        <div class="label-a">
            <span class="border"><a href="#">野象小姐</a></span>
            <span class="border"><a href="#">温暖</a></span>
            <span class="border"><a href="#">随笔</a></span>
            <span class="border"><a href="#">文学</a></span>
            <span class="border"><a href="#">杂文</a></span>
        </div>
    </div>

    <!-- 版本信息 -->
    <div class="version">

    </div>

    <!-- 上传 模态框 -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploaModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="uploadModalLabel">请选择上传文件</h4>
                </div>
                <div class="modal-body" >
                    <a class="input-file input-fileup" href="javascript:;">
                        + 选择文件
                        <input size="100" type="file" name="upload_file" id="upload-file">
                    </a>
                    <div class="fileerrorTip1">文件大小不能超过2M，不支持图片、音频、视频等格式喔！</div>
                    <div class="showFileName1"></div>
                </div>
                <div class="modal-footer">  <!--disabled="disabled"-->
                    <button id="confirm-upload" type="button" class="btn btn-primary" >确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 举报原因 模态框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">请选择举报原因</h4>
                </div>
                <div class="modal-body">
                    <div class="radio-group">
                        <div class="opt">
                            <input class="magic-radio" type="radio" name="radio" id="r1" value="option1">
                            <label for="r1">包含色情、低俗或有害内容</label>
                        </div>
                        <div class="opt">
                            <input class="magic-radio" type="radio" name="radio" id="r2" value="option2">
                            <label for="r2">包含恶意广告</label>
                        </div>
                        <div class="opt">
                            <input class="magic-radio" type="radio" name="radio" id="r3" value="option3" >
                            <label for="r3">携带病毒</label>
                        </div>
                        <div class="opt">
                            <input class="magic-radio" type="radio" name="radio" id="r4" value="option4" >
                            <label for="r4">其他原因</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="confirm" type="button" class="btn btn-primary" disabled="disabled">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 中间内容区 结束 -->
</div>
<!--引用layer js-->
<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js" type="text/javascript"></script>
<!--引入footer-->
<%= require("html-loader!./layout/footer.html")%>
</body>
</html>