<!DOCTYPE html>
<html lang="en">
<head>
    <!--引入head-common-->
    <%= require("html-loader!./layout/head-common.html")%>
    <title>ReadEnjoy | <%= htmlWebpackPlugin.options.title%></title>
</head>

<body class="ReadEnjoy-account">
<div class="container">

    <%= require("html-loader!./layout/logo.html")%>
    <!-- 身份验证表单 开始 -->
    <div class="row">
        <div class="contentBox col-md-6 col-sm-10  col-xs-12  col-md-offset-3 col-sm-offset-1 ">
            <!--进行用户名验证-->
           <div class="step-con step-email">
            <h1 class="title-bold">输入邮箱</h1>
            <form id="accountForm"  action="" method="post">
                <!-- 输入框 -->
                <div class="input-item">
                    <label for="email">邮箱</label>
                    <input id="email" name="email" type="text">
                    <div class="bottom-line"></div>
                </div>

                <!-- 验证码 -->
                <div class="verify-code">
                    <input type="text" id="codeInput" maxlength="4" value="" placeholder="请输入验证码" />
                    <div id="vContainer"></div>
                </div>
                <div class="error-item" style="margin-bottom: -20px;">
                  <span class="tips" id="tips" > </span>
                </div>
                <!-- 提交按钮 -->
                <button id="email-Button" class="btn-style" type="submit">下一步</button>
            </form>
           </div>

            <!--进行密保验证-->
           <div class="step-con step-question">
            <h1 class="title-bold">验证密保</h1>
            <form id="verifyForm"  action="" method="post">
                <!-- 输入框 -->
                <div class="question" >
                    <p class="q-title">您的密保问题是：</p>
                    <p class="q-name"></p>
                </div>
                <div class="input-item">
                    <label for="answer">密保答案</label>
                    <input id="answer" name="answer" type="text">
                    <div class="bottom-line"></div>
                </div>
                <div class="error-item" style="margin-bottom: -20px; margin-top: -20px;">
                    <span class="tips"> </span>
                </div>
                <!-- 下一步按钮 -->
                <button id="answer-Button" class="btn-style" type="submit">下一步</button>

            </form>
           </div>

            <!--重置密码操作-->
           <div class="step-con step-password">
            <h1 class="title-bold">重置密码</h1>
            <form id="resetForm"  action="" method="post">
                <!-- 输入框 -->
                <div class="input-item">
                    <label for="password">新密码</label>
                    <input id="password" name="password" type="password">
                    <div class="bottom-line"></div>
                </div>
                <div class="input-item">
                    <label for="confirmPsd">确认密码</label>
                    <input id="confirmPsd" name="confirmPsd" type="password">
                    <div class="bottom-line"></div>
                </div>
                <div class="error-item" style="margin-bottom: -20px; margin-top: -20px;">
                    <span class="tips" > </span>
                </div>
                <!-- 重置密码按钮 -->
                <button id="reset-Button" class="btn-style" type="button" >重置密码</button>

            </form>
           </div>
            <!-- 返回登录 链接 -->
            <div class="login">
                <a href="login.html">返回登录>></a>
            </div>
        </div>
    </div>
    <!-- 身份验证表单 结束 -->

</div>
</body>
</html>