<!DOCTYPE html>
<html lang="en">
<head>
    <!--引入head-common-->
    <%= require("html-loader!./layout/head-common.html")%>
    <title>ReadEnjoy | <%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
<!--引入导航栏-->
<%= require("html-loader!./layout/navigation.html")%>
<!-- 隐私政策 开始 -->
<div class="container page-right">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!-- 隐私政策 抬头标题 样式 -->
            <div class="title-right">
                <h2>隐私政策</h2>
                <hr>
                <em></em>
            </div><!-- end  title-right -->

            <div class="content-right">
                <p>隐私权是每个人的重要权利，阅享非常重视用户个人信息和隐私的保护。在使用阅享的各项服务前，请您务必仔细阅读并透彻理解本《隐私政策》。一旦您选择使用或继续使用，即表示您认可并接受本《隐私政策》现有内容及其可能随时更新的内容，同意我们按照本《隐私政策》收集、使用、披露、储存和分享，或以其他方式运用您的相关信息。</p>
                <br />

                <div class="con-p">信息收集</div>
                <br />
                <p>您在使用阅享提供的服务时，为了更好地实现您的目的，我们可能收集和使用您的个人信息，如您拒绝，您可能无法注册成为我们的用户或无法享受我们提供的某些服务，或者无法达到相关服务拟达到的效果。收集的情形包括：</p>
                <br />
                <p class="font-bold">1、您提供的信息，包括但不限于：</p>
                <p>您在注册阅享账号时提供的信息。例如：电子邮件、昵称、密保等。</p>
                <p>您通过我们的服务向其他方提供的共享信息，以及您使用我们的服务时所储存的信息。</p>
                <br />
                <p class="font-bold">2、我们获取您的信息：</p>
                <p>为了能够向您提供个性化的信息搜索服务，我们会根据您的浏览及搜索记录、收藏分享记录等，提取您的浏览、搜索偏好等特征。</p>
                <br />
                <p class="font-bold">3、第三方向阅享提供的信息：</p>
                <p>您在第三方服务中使用阅享的时候，我们会收集第三方服务向我们提供的有关信息。</p>
                <p>您提供的上述信息，将在您使用本服务期间持续授权我们使用。在您注销账号时，我们将停止使用并删除上述信息。</p>
                <br />

                <div class="con-p">信息使用</div>
                <br />
                <p>我们严格遵守法律法规的规定及与用户的约定，将收集的信息用于以下用途。若我们超出以下用途使用您的信息，我们将再次向您进行说明，并征得您的同意。</p>
                <p class="font-bold">1、我们会在法律法规要求或阅享相关服务条款约定的情况下因如下目的使用您的个人信息：</p>
                <p>1）向您提供您使用的各项服务，并维护、改进这些服务。</p>
                <p>2）我们可能会将来自某项服务的个人信息与来自其他服务所获得的信息相结合，进行综合统计、分析等，为您提供更加个性化的服务。</p>
                <p>3）经您同意的其他目的。</p>
                <br />
                <p class="font-bold">2、需要提醒您注意，以下情形中，使用您的个人信息无需您的同意：</p>
                <p>1）与国家安全、国防安全直接相关的。</p>
                <p>2）与公共安全、公共卫生、重大公共利益直接相关的。</p>
                <p>3）出于公共利益开展统计或学术研究所必要，且对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的。</p>
                <p>4）法律法规规定的其他情形。</p>
                <br />

                <div class="con-p">信息披露</div>
                <br />
                <p>尊重用户个人隐私是阅享的一项基本原则。除非事先获得您的授权或本《隐私政策》约定外，不会将这些信息对外公开或向阅享网之外的第三方提供。</p>
                <p class="font-bold">阅享可在如下情形依法披露您的个人信息：</p>
                <p>1）事先获得用户的明确授权。</p>
                <p>2）为维护阅享的合法权益，或阅享服务的正常运营，例如查找、预防、处理欺诈或安全方面的问题。</p><p>3）基于法律的披露：在法律、法律程序、诉讼或政府主管部门强制性要求的情况下，我们可能会公开披露您的个人信息。</p>
                <br />
                <p>我们会可能会将所收集到的信息用于大数据分析。例如，我们将收集到的信息用于分析形成不包含任何个人信息的书籍下载报告。我们可能对外公开经统计加工后不含身份识别内容的信息，用于了解用户如何使用我们服务或让公众了解我们服务的总体使用趋势。</p>
                <br />

                <div class="con-p">信息存储</div>
                <br />
                <p>原则上，我们在中华人民共和国境内收集和产生的个人信息，将存储在中华人民共和国境内。</p>
                <br />

                <div class="con-p">信息安全</div>
                <br />
                <p>阅享尽力保护您的信息安全，以防信息的丢失、不当使用、未经授权的披露等，我们将为此采取合理的预防措施，使用符合行业标准的加密技术来保护您在使用本服务中涉及的数据。但是，您理解并确认，任何人无法保证互联网数据100%的安全，如果出现数据安全，将会由您个人承担。</p>
                <p>如果阅享得知有安全系统漏洞，我们可能在必要时通过您预留的电子邮件地址与您联系，并可能提供可能的保护措施。</p>
                <br />

                <div class="con-p">未成年人保护</div>
                <br />
                <p>阅享非常重视对未成年人信息的保护。尽管当地法律和习俗对未成年人的定义不同，但我们将不满 16 周岁的任何人均视为未成年人。在使用阅享的服务前，应事先取得您的家长或法定监护人的同意，并请要求您的父母或监护人阅读本《隐私政策》。</p>
                <br />

                <div class="con-p">适用范围</div>
                <br />
                <p>除另有明确约定外，我们所有的服务均适用本《隐私政策》。针对某些特定服务的特定隐私政策，将更具体地说明我们在该等服务中如何使用您的信息。该特定服务的隐私政策构成本《隐私政策》的一部分。</p>
                <br />

                <div class="con-p">政策变更</div>
                <br />
                <p>我们可能适时修订本政策内容。如该等变更会导致您在本政策项下权利的实质减损，我们将在变更生效前，通过在页面显著位置提示、向您发送电子邮件等方式通知您。在该种情况下，若您继续使用我们的服务，即表示同意受经修订的政策约束。</p>
                <br />

                <div class="con-p">联系我们</div>
                <br />
                <p>如果您对本隐私政策有任何疑问、意见或建议，可以通过向help@readenjoy.com发送邮件与我们联系。 一般情况下，我们将在验证您的用户身份后的三十天内予以回复。</p>
                <br />
            </div><!-- end content-right -->
        </div><!-- end col-md-8 -->
    </div><!-- end row -->
</div><!-- end page-right -->
<!-- 隐私政策 结束 -->
<!--引入footer-->
<%= require("html-loader!./layout/footer.html")%>
</body>
</html>