<!DOCTYPE html>
<html lang="en">
<head>
    <!--引入head-common-->
    <%= require("html-loader!./layout/head-common.html")%>
    <title>ReadEnjoy | <%= htmlWebpackPlugin.options.title%></title>
</head>
<body class="ReadEnjoy-personal">
<!--引入导航栏-->
<%= require("html-loader!./layout/navigation.html")%>
<!-- 中心内容区  开始-->
<div id="index-content">
<div class="container">
    <div class="main-content">

        <!-- 左侧菜单区 -->
        <div class="slider-left">
            <div class="slider-border">
                <!-- 头像 -->
                <div class="user-heder">

                </div>

                <!-- 用户名 -->
                <p class="user-name">AQIIUU</p>
                <!-- <p class="email">123883128@152.com</p> -->

                <!-- 列表 -->
                <ul class="slider-ul">
                    <li class="tab-active" id="userInfo-btn">
                        <a ><i class="fa fa-user-circle fa-fw"></i>&nbsp;个人资料</a>
                    </li>
                    <li id="modify-head-btn">
                        <a ><i class="fa fa-camera fa-fw"></i>&nbsp;更换头像</a>
                    </li>
                    <li id="modify-password-btn">
                        <a  ><i class="fa fa-wrench fa-fw"></i>&nbsp;修改密码</a>
                    </li>
                    <li id="user-collect-btn">
                        <a ><i class="fa fa-star fa-fw"></i>&nbsp;我的收藏</a>
                    </li>
                    <li id="user-download-btn">
                        <a ><i class="fa fa-download fa-fw"></i>&nbsp;下载记录</a>
                    </li>
                    <li id="user-upload-btn">
                        <a ><i class="fa fa-upload fa-fw"></i>&nbsp;上传记录</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 右侧内容区 -->
        <div class="content-right" >
            <div class="content-border">
                <div class="content-slider">

                    <!-- 个人内容区 开始 -->
                    <div id="user-content" >

                    </div>
                    <!-- 个人内容区 结束 -->

                </div>
            </div>
        </div>


    </div>
</div>

</div>
<!-- 中心内容区 结束 -->
<!--<link href="https://cdn.bootcss.com/cropper/4.0.0/cropper.min.css" rel="stylesheet">-->
<!--<script src="https://cdn.bootcss.com/cropper/4.0.0/cropper.min.js"></script>-->
<!--引用layer js-->
<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js" type="text/javascript"></script>
<!--引入footer-->
<%= require("html-loader!./layout/footer.html")%>
</body>
</html>