<!DOCTYPE html>
<html lang="en">
<head>
    <!--引入head-common-->
    <%= require("html-loader!./layout/head-common.html")%>
    <title>ReadEnjoy | <%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
<!--引入导航栏-->
<%= require("html-loader!./layout/navigation.html")%>
<!-- 用户协议 内容开始 -->
<div class="container page-right">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!-- 用户协议 抬头标题 样式 -->
            <div class="title-right">
                <h2>用户协议</h2>
                <hr>
                <em></em>
            </div><!-- end  title-right -->

            <div class="content-right">
                <p>欢迎您使用阅享服务（下称：本服务），您在使用本服务前请认真阅读以下协议（下称：本协议）。</p>

                <br />
                <div class="con-p">使用协议的接受</div>
                <br />
                <p>当您在注册阅享账号过程中在“我已阅读并同意阅享网站《用户协议》和《隐私条款》”处打勾“√”并按照注册程序成功注册成为阅享用户，或即表示您已充分阅读、理解并接受本协议的全部内容，并与阅享达成协议。</p>

                <br />
                <div class="con-p">本协议的变更和修改</div>
                <br />
                <p>阅享有权随时对本协议进行修改，并且一旦发生协议条款的变动，阅享将在相关页面上提示修改的内容；用户如果不同意本协议的修改，应当立即停止使用或访问本网站或取消已经获得的服务；如果用户选择在本协议变更后继续访问或使用本网站，则视为用户已经接受本协议的修改。</p>

                <br />
                <div class="con-p">服务说明</div>
                <br />
                <p>1）阅享是一个向广大用户提供信息存储空间，供用户上传、收藏、在线浏览电子书籍的交流平台。</p>
                <p>2）阅享运用自己的系统通过互联网向用户提供服务，除非另有明确规定，增强或强化目前服务的任何新功能，包括新产品以及新增加的服务，均无条件地适用本协议。</p>

                <br />
                <div class="con-p">用户行为</div>
                <br />
                <p>用户需要通过邮箱完成账号注册，才能正常使用网站提供的服务。用户注册和使用账号名称，必须符合《互联网用户账号名称管理规定》，用户必须承诺遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等七条底线。</p>
                <p>如您的行为违反国家法律，您将依法承担全部法律责任；如涉嫌构成犯罪，司法机关将追究您的刑事责任，阅享将严格按照法律规定的义务及司法机关的要求进行配合。同时，如果阅享有理由认为您的任何行为，包括但不限于您的任何言论或其它行为违反或可能违反国家法律法规的任何规定，阅享可在任何时候不经任何事先通知终止向您提供服务</p>
                <p class="font-bold">您同意将不会利用本服务进行任何违法或不正当的活动，包括但不限于下列行为∶</p>
                <p>1）发布或以其他方式传送含有下列内容之一的信息：反对宪法所确定的基本原则的；危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；损害国家荣誉和利益的；煽动民族仇恨、民族歧视、破坏民族团结的；散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；含有豆瓣认为不适合在豆瓣展示的内容。</p>
                <p>2）以任何方式危害他人的合法权益。</p>
                <p>3）跟踪、人肉搜索或以其他方式骚扰他人。</p>
                <p>4）干扰或破坏本服务或与本服务相连线之服务器和网络，或违反任何关于本服务连线网络之规定、程序、政策或规范。</p>
                <p>5）故意或非故意地违反任何适用的当地、国家法律，以及任何具有法律效力的规则。</p>
                <p>6）未经合法授权而截获、篡改、收集、储存或删除您或他人的个人信息或其他数据资料，或将获知的此类资料用于任何非法或不正当目的。</p>
                <br />
                <p>您已认可阅享未对用户的使用行为进行全面控制，您使用任何内容时，包括依赖前述内容之正确性、完整性或有效性时，您同意将自行加以判断并承担所有风险，而不依赖于阅享。但阅享依其自行之考虑，有权拒绝和删除经由本服务提供之违反本条款的或其他引起阅享反感的任何内容。</p>

                <br />
                <div class="con-p">关于隐私</div>
                <br />
                <p>隐私权是每个人的重要权利，阅享非常重视用户个人信息和隐私的保护。除非事先获得您的授权外，不会将这些信息对外公开或向阅享网之外的第三方提供。以下情况除外：</p>
                <p>1）由于用户将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。</p>
                <p>2）为维护阅享的合法权益，或阅享服务的正常运营，例如查找、预防、处理欺诈或安全方面的问题。</p><p>3）基于法律的披露：在法律、法律程序、诉讼或政府主管部门强制性要求的情况下，我们可能会公开披露您的个人信息。</p>

                <br />
                <div class="con-p">免责声明</div>
                <br />
                <p>1）除阅享注明的服务条款外，其它因使用阅享而导致任何意外、疏忽、诽谤、版权或知识产权侵犯及其所造成的各种损失（包括因下载而感染电脑病毒），阅享概不负责，亦不承担任何法律责任。</p>
                <p>2）阅享不保证（包括但不限于），本网站适合用户的使用要求，本网站不受干扰，及时、安全、可靠或不出现错误。</p>
                <p>3）本服务可能会包含与其他网站或资源的链接，即第三方链接。阅享对于前述网站或资源的内容、隐私政策和活动，无权控制、审查或修改，因而也不承担任何责任。建议您在离开阅享服务，访问其他网站或资源前仔细阅读其服务条款和隐私政策。</p>
                <p>4）因用户内容在本网站的上传货分享，而导致任何第三方提出索赔要求或衍生的任何损害或损失，由用户承担全部责任，站酷阅享不承担任何责任。</p>
                <br />
            </div> <!-- end content-right -->
        </div><!-- end col-md-8 -->
    </div><!-- end row -->
</div><!-- end page-right -->
<!-- 用户协议 内容结束 -->
<!--引入footer-->
<%= require("html-loader!./layout/footer.html")%>
</body>
</html>