<!DOCTYPE html>
<html lang="en">
<head>
    <!--引入head-common-->
    <%= require("html-loader!./layout/head-common.html")%>
    <title>ReadEnjoy | <%= htmlWebpackPlugin.options.title%></title>
    <!--swf浏览需要的js文件-->
    <script type="text/javascript" src="../../src/util/flexpaper_flash.js"></script>
    <script type="text/javascript" src="../../src/util/flexpaper_flash_debug.js"></script>
</head>
<body style="background-color: #f9f9f9">
<div>
    <div class="left-book">
        <a href="#">
            <i class="back-i"><</i>
            退出阅读
        </a>
        <div class="book-basic">
            <p>一万口新鲜嘻嘻嘻嘻嘻嘻</p>
            <a href="#">
                <img src="../../src/image/yexiang.jpg">
            </a>
            <a href="#" class="down-btn">立即下载</a>
        </div>

    </div>
    <!-- 浏览文件容器-->
    <div style="position:absolute;left:50%;margin-left: -410px;margin-top: 0px">
        <a id="viewerPlaceHolder" style="width:820px;height:650px;display:block"></a>
    </div>
</div>

</body>
</html>