/**
 * @author HB
 * @date 2019/1/20
 * @fileName index.css
 * @Description:  用户状态检查
*/
/*隐藏步骤框*/
body{
    background-color:#f9f9f9;
}
.contentBox .step-con{
    display: none;
}
.feedback-info{
    font-size: 20px;
    margin-top: 30px;
}
.color-black {
    color: #003366;
    font-weight: bold;
    font-size: 16px;
}
.link-list{
    margin-left: 60px;
    margin-top: 20px;
}
