/**
 * @author HB
 * @date 2018/5/30
 * @fileName index.css
 * @Description:  页面导航样式
*/

/*-- 导航栏 --*/
nav{
    background-color: white;
    height: 70px;
    box-shadow: 0 0 4px 0 #ccc;
    font-size: 18px;
}

#MyNavBar{
    background: white;
    margin: 0 auto;
    text-align: center;
}

/*logo*/
.logo img{
    width: 160px;
    height: 80px;
    margin-top: 4px;
}

/*导航 关键字*/
#keyword{
    padding: 10px;
}
#keyword li a{
    color: #747171;
}
#keyword  li a:hover{
    color: #00A6DE;
    background: none;
}
#keyword  li:nth-child(1) a{
    color: #00A6DE;
}

/*--搜索框--*/
.search{
    background: #fff;
    margin-top: 8px;
}
.search:after {content:""; clear:both; display:table}
.search form {
    width: auto;
    float: right;
    margin-right: 30px;
    position: absolute;
}
.search input {
    width: 180px;
    height: 30px;
    font-size: 14px;
    padding-left: 15px;
    border-radius: 30px;
    border: 1px solid #00A6DE;
    outline: none;
    transition: .3s linear;
}
.search input:focus {
    width: 240px;
}
.search button {
    width: 36px;
    height: 36px;
    background: none;
    border: none;
    position: relative;
    top: 1px;
    left: -50px;
}
.search button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: gray;
}

/*--登录/注册 按钮--*/
#register li a{
    color: #525151;
    height: 70px;
    padding: 25px;
}
#register li:nth-child(2) a{
    background-color:#00A6DE;
    color: white;
}
#register li:nth-child(2) a:hover{
    background-color:#00A6DE;
}
/*圆形头像*/
.imgepic figure div{
    display:inline-block;
    width:50px;
    height:50px;
    margin-top: 10px;
    border-radius:50%;
    overflow:hidden; /*超过部分隐藏*/
}
.imgepic img{
    width:100%;
    height: 100%;
}
/*用户显示*/
.dropdown{
    margin-top: 10px;
}
.dropdown #user-option{
    text-align: center;
    margin-top: 1px;
    min-width: 100px;
}
#user-name:hover,#user-name{
    background-color: white;
    color: #747171;
}
#user-name:focus{
    background-color: white;
}
/*-- 折叠按钮 --*/
button span.icon-bar{
    color: #747171;
    background: #759FBD;
    padding-top: 3px;
    margin-top: 3px;
}

/*中部标题*/
.con-title{
    text-align: left;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.con-p{
    padding-left: 10px;
    border-left: 6px solid #FFDE02;
    color: #515151;
    font-size: 18px;
}
/*书籍列表样式*/
.book{
    position: relative;
    width: 90%;
    height: 360px;
    margin-left: 5%;
    margin-bottom: 20px;
    border: 1px solid #F5F5F5;
    border-radius: 4px;
}
/*书籍封面*/
.book-img img{
    position: relative;
    width: 80%;
    height: 280px;
    margin-top: 20px;
    /*  margin-left: 10%;*/
    border-radius: 4px;
    box-shadow: 2px 2px 2px gray;
}
/*遮罩层*/
.book-mask{
    position: absolute;
    width: 80%;
    height: 200px;
    top: 100px;
    bottom: 0;
    left: 10%;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;/* 隐藏旋转元素的背面*/
    backface-visibility: hidden;
    background: rgba(255, 255, 255, 0.8);   /*后面这个0.8是指的背景的透明度*/
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out;   /*规定提示信息怎样出现ease-in-out以慢速度开始和结束*/
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    color: #515151;
}

.book a:hover .book-mask{
    opacity: 1;    /*有opacity有0变成1*/
}
.book-class{
    margin-top: 10px;
    font-weight: bold;
    overflow:hidden; /*//超出的文本隐藏*/
    text-overflow:ellipsis; /*//溢出用省略号显示*/
    white-space:nowrap; /*//溢出不换行*/
}
.book-intro{
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;

    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 7;
}

/*书名+作者*/
.book-info{
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 10px;
}

.book-info a{
    font-weight: bold;
    font-size: 16px;
}

.book-info a:hover{
    text-decoration: none;
    color: #FE5F55;
}