<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-Control" content="o-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<!--搜索关键字+网站简述-->
<meta name="Keywords" content="阅享，readenjoy，电子书网站，电子书下载，阅读，分享，免费资源" />
<meta name="Description" content="阅享网站是一个致力于电子书资源共享的网络平台，网站用户可进行电子书资源的下载、上传、分享、收藏、评论等操作。" />
<!-- 小图标  -->
<link rel="shortcut icon" type="image/x-icon" href="/src/image/icon/favicon.ico">
<!--引入全局jquery-->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js">
</script>